USE [sion_oficial]
GO
/****** Object:  Table [dbo].[RegisterBySequence]    Script Date: 03/12/2018 15:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegisterBySequence](
	[id] [uniqueidentifier] NOT NULL,
	[correlative] [int] IDENTITY(1,1) NOT NULL,
	[sequence] [int] NOT NULL,
	[register] [uniqueidentifier] NOT NULL,
	[register_by] [uniqueidentifier] NOT NULL,
	[register_date] [datetime] NOT NULL,
	[register_status] [bit] NOT NULL,
	[last_edition] [datetime] NOT NULL,
	[period] [int] NULL,
 CONSTRAINT [PK_RegisterBySequence] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RegisterBySequence] ON 

INSERT [dbo].[RegisterBySequence] ([id], [correlative], [sequence], [register], [register_by], [register_date], [register_status], [last_edition], [period]) VALUES (N'4c80cc8b-df7c-4f58-b8be-01258e82397c', 1050, 6, N'fd4b6726-4b65-488d-b527-19a40d69d623', N'54dc9103-8324-471b-b61e-8f8637019b02', CAST(N'2018-11-11T19:45:27.040' AS DateTime), 1, CAST(N'2018-11-11T19:45:27.040' AS DateTime), 1)
INSERT [dbo].[RegisterBySequence] ([id], [correlative], [sequence], [register], [register_by], [register_date], [register_status], [last_edition], [period]) VALUES (N'd69fd204-6e86-4d61-bb85-02b29daff620', 37, 3, N'f7a38628-0574-4306-9172-130c0c7ca361', N'54dc9103-8324-471b-b61e-8f8637019b02', CAST(N'2018-11-09T14:39:55.373' AS DateTime), 1, CAST(N'2018-11-09T14:39:55.373' AS DateTime), 1)
INSERT [dbo].[RegisterBySequence] ([id], [correlative], [sequence], [register], [register_by], [register_date], [register_status], [last_edition], [period]) VALUES (N'c02f32a2-a25a-4bd9-8d85-06296aba48a5', 17, 3, N'ed502eab-2856-4838-8b1c-727d638a5f19', N'54dc9103-8324-471b-b61e-8f8637019b02', CAST(N'2018-11-09T11:17:32.087' AS DateTime), 1, CAST(N'2018-11-09T11:17:32.347' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[RegisterBySequence] OFF
ALTER TABLE [dbo].[RegisterBySequence]  WITH CHECK ADD  CONSTRAINT [FK_RegisterBySecuence_Register] FOREIGN KEY([register])
REFERENCES [dbo].[Register] ([id])
GO
ALTER TABLE [dbo].[RegisterBySequence] CHECK CONSTRAINT [FK_RegisterBySecuence_Register]
GO
ALTER TABLE [dbo].[RegisterBySequence]  WITH CHECK ADD  CONSTRAINT [FK_RegisterBySecuence_Sequences] FOREIGN KEY([sequence])
REFERENCES [dbo].[Sequences] ([id])
GO
ALTER TABLE [dbo].[RegisterBySequence] CHECK CONSTRAINT [FK_RegisterBySecuence_Sequences]
GO
ALTER TABLE [dbo].[RegisterBySequence]  WITH CHECK ADD  CONSTRAINT [FK_RegisterBySecuence_Users] FOREIGN KEY([register_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[RegisterBySequence] CHECK CONSTRAINT [FK_RegisterBySecuence_Users]
GO
ALTER TABLE [dbo].[RegisterBySequence]  WITH CHECK ADD  CONSTRAINT [FK_RegisterBySequence_Periods] FOREIGN KEY([period])
REFERENCES [dbo].[Periods] ([id])
GO
ALTER TABLE [dbo].[RegisterBySequence] CHECK CONSTRAINT [FK_RegisterBySequence_Periods]
GO
