USE [sion_oficial]
GO
/****** Object:  Table [dbo].[Register]    Script Date: 03/12/2018 15:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Register](
	[id] [uniqueidentifier] NOT NULL,
	[documentType] [int] NOT NULL,
	[operationType] [int] NOT NULL,
	[sincronize_date] [datetime] NOT NULL,
	[register_by] [uniqueidentifier] NOT NULL,
	[register_date] [datetime] NOT NULL,
	[register_status] [bit] NOT NULL,
	[client] [uniqueidentifier] NOT NULL,
	[folio] [int] NULL,
	[transactionType] [int] NOT NULL,
	[correlative] [int] IDENTITY(1,1) NOT NULL,
	[instrument] [int] NULL,
	[url] [varchar](250) NULL,
	[xml] [xml] NULL,
	[iif_instrument] [int] NULL,
 CONSTRAINT [PK_Register] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Register] ON 

INSERT [dbo].[Register] ([id], [documentType], [operationType], [sincronize_date], [register_by], [register_date], [register_status], [client], [folio], [transactionType], [correlative], [instrument], [url], [xml], [iif_instrument]) VALUES (N'b023ce9c-96f0-4d34-a5c7-021b598c604e', 1, 1, CAST(N'2018-11-12T02:57:14.663' AS DateTime), N'54dc9103-8324-471b-b61e-8f8637019b02', CAST(N'2018-11-12T02:57:19.193' AS DateTime), 1, N'42dba01c-8dd4-4709-b290-51eaf0b649fc', 121233, 2, 2033, 5, NULL, NULL, NULL)
INSERT [dbo].[Register] ([id], [documentType], [operationType], [sincronize_date], [register_by], [register_date], [register_status], [client], [folio], [transactionType], [correlative], [instrument], [url], [xml], [iif_instrument]) VALUES (N'58fc4591-f827-47b1-af5e-0577c2d0b841', 1, 1, CAST(N'2018-11-12T02:06:03.370' AS DateTime), N'54dc9103-8324-471b-b61e-8f8637019b02', CAST(N'2018-11-12T02:06:03.370' AS DateTime), 1, N'42dba01c-8dd4-4709-b290-51eaf0b649fc', 8985, 2, 2027, 5, NULL, NULL, NULL)
INSERT [dbo].[Register] ([id], [documentType], [operationType], [sincronize_date], [register_by], [register_date], [register_status], [client], [folio], [transactionType], [correlative], [instrument], [url], [xml], [iif_instrument]) VALUES (N'43f572a8-ac6f-4cc7-9a65-094cc9099fd2', 1, 1, CAST(N'2018-11-11T00:00:00.000' AS DateTime), N'54dc9103-8324-471b-b61e-8f8637019b02', CAST(N'2018-11-11T20:35:26.333' AS DateTime), 1, N'42dba01c-8dd4-4709-b290-51eaf0b649fc', 44131, 2, 2018, 5, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Register] OFF
ALTER TABLE [dbo].[Register]  WITH CHECK ADD  CONSTRAINT [FK_Register_Clients] FOREIGN KEY([client])
REFERENCES [dbo].[Clients] ([id])
GO
ALTER TABLE [dbo].[Register] CHECK CONSTRAINT [FK_Register_Clients]
GO
ALTER TABLE [dbo].[Register]  WITH CHECK ADD  CONSTRAINT [FK_Register_DocumentsType] FOREIGN KEY([documentType])
REFERENCES [dbo].[DocumentsType] ([id])
GO
ALTER TABLE [dbo].[Register] CHECK CONSTRAINT [FK_Register_DocumentsType]
GO
ALTER TABLE [dbo].[Register]  WITH CHECK ADD  CONSTRAINT [FK_Register_Instruments] FOREIGN KEY([instrument])
REFERENCES [dbo].[Instruments] ([id])
GO
ALTER TABLE [dbo].[Register] CHECK CONSTRAINT [FK_Register_Instruments]
GO
ALTER TABLE [dbo].[Register]  WITH CHECK ADD  CONSTRAINT [FK_Register_OperationType] FOREIGN KEY([operationType])
REFERENCES [dbo].[OperationType] ([id])
GO
ALTER TABLE [dbo].[Register] CHECK CONSTRAINT [FK_Register_OperationType]
GO
ALTER TABLE [dbo].[Register]  WITH CHECK ADD  CONSTRAINT [FK_Register_Users] FOREIGN KEY([register_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Register] CHECK CONSTRAINT [FK_Register_Users]
GO
