USE [sion_oficial]
GO
/****** Object:  Table [dbo].[SalesInvoice]    Script Date: 03/12/2018 15:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesInvoice](
	[id] [uniqueidentifier] NOT NULL,
	[register_sequence] [uniqueidentifier] NOT NULL,
	[folio] [int] NOT NULL,
	[stockbroker] [int] NOT NULL,
	[issue_date] [datetime] NULL,
	[amount] [float] NOT NULL,
	[comission] [float] NOT NULL,
	[expenses] [float] NOT NULL,
	[net] [float] NOT NULL,
	[billable] [float] NOT NULL,
	[total] [float] NOT NULL,
	[tax] [int] NOT NULL,
	[tax_rate] [float] NOT NULL,
	[other_tax] [int] NULL,
	[other_tax_rate] [float] NULL,
	[payment_condition] [int] NOT NULL,
	[document_status] [int] NOT NULL,
	[register_status] [bit] NOT NULL,
	[period] [int] NOT NULL,
	[glossary] [text] NULL,
	[receiver_dni] [text] NULL,
	[receiver_id] [uniqueidentifier] NULL,
	[expiration_date] [datetime] NULL,
 CONSTRAINT [PK_SalesInvoice_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[SalesInvoice] ([id], [register_sequence], [folio], [stockbroker], [issue_date], [amount], [comission], [expenses], [net], [billable], [total], [tax], [tax_rate], [other_tax], [other_tax_rate], [payment_condition], [document_status], [register_status], [period], [glossary], [receiver_dni], [receiver_id], [expiration_date]) VALUES (N'3d116796-b59e-4c59-af6d-03fbbfd019a7', N'4c80cc8b-df7c-4f58-b8be-01258e82397c', 645, 20, CAST(N'2018-11-12T02:22:20.133' AS DateTime), 1, 1, 1, 1, 1, 1, 1, 1, NULL, NULL, 1, 1, 1, 2, N'xdcvxc', NULL, NULL, CAST(N'2018-11-12T02:22:20.133' AS DateTime))
INSERT [dbo].[SalesInvoice] ([id], [register_sequence], [folio], [stockbroker], [issue_date], [amount], [comission], [expenses], [net], [billable], [total], [tax], [tax_rate], [other_tax], [other_tax_rate], [payment_condition], [document_status], [register_status], [period], [glossary], [receiver_dni], [receiver_id], [expiration_date]) VALUES (N'9fdeb07b-e534-48aa-818b-053cad4ac09e', N'4c80cc8b-df7c-4f58-b8be-01258e82397c', 12345, 1, CAST(N'2018-11-12T08:14:38.563' AS DateTime), 1, 1, 1, 1, 1, 1, 1, 1, NULL, NULL, 1, 1, 1, 2, N'mori', NULL, NULL, CAST(N'2018-11-12T08:14:38.563' AS DateTime))
ALTER TABLE [dbo].[SalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_SalesInvoice_DocumentState] FOREIGN KEY([document_status])
REFERENCES [dbo].[DocumentState] ([id])
GO
ALTER TABLE [dbo].[SalesInvoice] CHECK CONSTRAINT [FK_SalesInvoice_DocumentState]
GO
ALTER TABLE [dbo].[SalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_SalesInvoice_Periods] FOREIGN KEY([period])
REFERENCES [dbo].[Periods] ([id])
GO
ALTER TABLE [dbo].[SalesInvoice] CHECK CONSTRAINT [FK_SalesInvoice_Periods]
GO
ALTER TABLE [dbo].[SalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_SalesInvoice_RegisterBySequence] FOREIGN KEY([register_sequence])
REFERENCES [dbo].[RegisterBySequence] ([id])
GO
ALTER TABLE [dbo].[SalesInvoice] CHECK CONSTRAINT [FK_SalesInvoice_RegisterBySequence]
GO
ALTER TABLE [dbo].[SalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_SalesInvoice_Stockbroker] FOREIGN KEY([stockbroker])
REFERENCES [dbo].[Stockbroker] ([id])
GO
ALTER TABLE [dbo].[SalesInvoice] CHECK CONSTRAINT [FK_SalesInvoice_Stockbroker]
GO
ALTER TABLE [dbo].[SalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_SalesInvoice_Taxes] FOREIGN KEY([tax])
REFERENCES [dbo].[Taxes] ([id])
GO
ALTER TABLE [dbo].[SalesInvoice] CHECK CONSTRAINT [FK_SalesInvoice_Taxes]
GO
ALTER TABLE [dbo].[SalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_SalesInvoice_Taxes1] FOREIGN KEY([other_tax])
REFERENCES [dbo].[Taxes] ([id])
GO
ALTER TABLE [dbo].[SalesInvoice] CHECK CONSTRAINT [FK_SalesInvoice_Taxes1]
GO
