USE [sion_oficial]
GO
/****** Object:  Table [dbo].[F50]    Script Date: 03/12/2018 15:37:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[F50](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[folio] [int] NOT NULL,
	[url] [varchar](max) NULL,
 CONSTRAINT [PK_F50] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[F50] ON 

INSERT [dbo].[F50] ([id], [folio], [url]) VALUES (1, 1, NULL)
SET IDENTITY_INSERT [dbo].[F50] OFF
